<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.tetris.tests"
        versionCode="1" 
        version   = "1.1.0">

<plugin name="org.apache.cordova.facebook.Connect" value="org.apache.cordova.facebook.ConnectPlugin" />

    <gap:plugin name="FacebookConnect">
      <param name="APP_ID" value="473600756038526" />
    </gap:plugin>

    <preference name="orientation" value="portrait" />
    <preference name="permissions" value="none"/>

    <name>Newmang Blocks (lab6)</name>

    <description>
        A simple tetris game with basic touch screen features.
    </description>

</widget>