<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.tetris.tests"
        versionCode="1" 
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <preference name="orientation" value="portrait" />
    <preference name="permissions" value="none"/>

    <name>Newmang Blocks (lab6)</name>

    <description>
        A simple tetris game with basic touch screen features.
    </description>

</widget>